@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  --GREY-700: #333;
  --GREY-800: #1f1f1f;
  --GREY-900: #141414;
  --GREEN: #2acbf8;
  --WHITE: #fff;

  --FF: "Inter", sans-serif;

  --TEXT-PRESET-1: 600 1.5rem/150% var(--FF);
  --TEXT-PRESET-2: normal 0.875rem/150% var(--FF);
  --TEXT-PRESET-2-BOLD: bold 0.875rem/150% var(--FF);
}

/* || UTILITIES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* || BASE STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--GREY-900);
  font-family: var(--FF);
  display: grid;
  place-content: center;
}

h1 {
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  text-decoration: none;
}

/* || PROFILE CARD */
.profile-card {
  width: 90%;
  max-width: 380px;
  padding: 2rem;
  border-radius: 12px;
  background-color: var(--GREY-800);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* || HEADER */
.profile-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.profile-card__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  margin-top: -8.5px;
}

.profile-card__name {
  font: var(--TEXT-PRESET-1);
  color: var(--WHITE);
  margin-bottom: 0.25rem;
}

.profile-card__location {
  font: var(--TEXT-PRESET-2-BOLD);
  color: var(--GREEN);
  margin-bottom: 1.25rem;
}

.profile-card__bio {
  font: var(--TEXT-PRESET-2);
  color: var(--WHITE);
  text-align: center;
}

/* || LINKS */
.profile-card__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 200%;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  font: var(--TEXT-PRESET-2-BOLD);
  background-color: var(--GREY-700);
  transition: background-color 0.3s ease-in-out;
}

.profile-card__link:hover,
.profile-card__link:focus-visible {
  background-color: var(--GREEN);
  color: var(--GREY-700);
}

/* || MOBILE */
@media screen and (max-width: 991px) {
  .profile-card {
    max-width: 420px;
    padding: 2.5rem;
    margin: 4rem auto;
    text-align: center;
  }
  .profile-card__link {
    width: 150%;
  }
}

/* || DESKTOP */
@media screen and (min-width: 992px) {
  html,
  body {
    height: auto;
    overflow: hidden;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-card {
    margin: 0;
    max-width: 420px;
    height:auto;
  }
}
